body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5041 {
  position:absolute;
  left:240px;
  top:10px;
  width:280px;
  height:520px;
}
#u5042 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5043 {
  position:absolute;
  left:348px;
  top:11px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u5045 {
  position:absolute;
  left:240px;
  top:35px;
  width:280px;
  height:1px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5047 {
  position:absolute;
  left:244px;
  top:14px;
  width:16px;
  height:16px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5049 {
  position:absolute;
  left:330px;
  top:140px;
  width:91px;
  height:16px;
}
#u5050 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5051_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:247px;
  height:9px;
}
#u5051 {
  position:absolute;
  left:254px;
  top:193px;
  width:242px;
  height:4px;
}
#u5052 {
  position:absolute;
  left:2px;
  top:-6px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5053 {
  position:absolute;
  left:254px;
  top:174px;
  width:242px;
  height:16px;
}
#u5054 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u5055_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:71px;
  height:9px;
}
#u5055 {
  position:absolute;
  left:254px;
  top:193px;
  width:66px;
  height:4px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:-6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5057 {
  position:absolute;
  left:462px;
  top:243px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5059 {
  position:absolute;
  left:266px;
  top:259px;
  width:14px;
  height:16px;
}
#u5060 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.0666666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5061 {
  position:absolute;
  left:240px;
  top:224px;
  width:280px;
  height:10px;
  color:#999999;
}
#u5062 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u5063 {
  position:absolute;
  left:254px;
  top:243px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u5064 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5065 {
  position:absolute;
  left:340px;
  top:45px;
  width:70px;
  height:70px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5067 {
  position:absolute;
  left:297px;
  top:288px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5069 {
  position:absolute;
  left:297px;
  top:328px;
  width:52px;
  height:14px;
  font-size:11px;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5071 {
  position:absolute;
  left:350px;
  top:72px;
  width:49px;
  height:16px;
  font-size:12px;
}
#u5072 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5073 {
  position:absolute;
  left:473px;
  top:16px;
  width:37px;
  height:12px;
  font-size:9px;
}
#u5074 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5075_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:100px;
  height:19px;
}
#u5075p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:92px;
  height:4px;
}
#u5075p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:94px;
  height:6px;
}
#u5075p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5075p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:20px;
}
#u5075.compound {
  width:0px;
  height:0px;
}
#u5075 {
  position:absolute;
  left:162px;
  top:194px;
  width:90px;
  height:1px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5077 {
  position:absolute;
  left:92px;
  top:186px;
  width:93px;
  height:16px;
  color:#FF0000;
}
#u5078 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u5079 {
  position:absolute;
  left:68px;
  top:554px;
  width:693px;
  height:452px;
}
#u5080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u5080 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5081 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u5082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u5082 {
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5083 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u5084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u5084 {
  position:absolute;
  left:246px;
  top:0px;
  width:185px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5085 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u5086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u5086 {
  position:absolute;
  left:431px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5087 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u5088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u5088 {
  position:absolute;
  left:543px;
  top:0px;
  width:146px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5089 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u5090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5090 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:139px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5091 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u5092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5092 {
  position:absolute;
  left:123px;
  top:30px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u5093 {
  position:absolute;
  left:2px;
  top:54px;
  width:119px;
  word-wrap:break-word;
}
#u5094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u5094 {
  position:absolute;
  left:246px;
  top:30px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u5095 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u5096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:139px;
}
#u5096 {
  position:absolute;
  left:431px;
  top:30px;
  width:112px;
  height:139px;
  text-align:center;
}
#u5097 {
  position:absolute;
  left:2px;
  top:62px;
  width:108px;
  word-wrap:break-word;
}
#u5098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:139px;
}
#u5098 {
  position:absolute;
  left:543px;
  top:30px;
  width:146px;
  height:139px;
  text-align:center;
}
#u5099 {
  position:absolute;
  left:2px;
  top:62px;
  width:142px;
  word-wrap:break-word;
}
#u5100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5100 {
  position:absolute;
  left:0px;
  top:169px;
  width:123px;
  height:139px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5101 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u5102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5102 {
  position:absolute;
  left:123px;
  top:169px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u5103 {
  position:absolute;
  left:2px;
  top:54px;
  width:119px;
  word-wrap:break-word;
}
#u5104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u5104 {
  position:absolute;
  left:246px;
  top:169px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u5105 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u5106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:139px;
}
#u5106 {
  position:absolute;
  left:431px;
  top:169px;
  width:112px;
  height:139px;
  text-align:center;
}
#u5107 {
  position:absolute;
  left:2px;
  top:62px;
  width:108px;
  word-wrap:break-word;
}
#u5108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:139px;
}
#u5108 {
  position:absolute;
  left:543px;
  top:169px;
  width:146px;
  height:139px;
  text-align:center;
}
#u5109 {
  position:absolute;
  left:2px;
  top:62px;
  width:142px;
  word-wrap:break-word;
}
#u5110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5110 {
  position:absolute;
  left:0px;
  top:308px;
  width:123px;
  height:139px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5111 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u5112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5112 {
  position:absolute;
  left:123px;
  top:308px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u5113 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u5114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u5114 {
  position:absolute;
  left:246px;
  top:308px;
  width:185px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u5115 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u5116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:139px;
}
#u5116 {
  position:absolute;
  left:431px;
  top:308px;
  width:112px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u5117 {
  position:absolute;
  left:2px;
  top:62px;
  width:108px;
  word-wrap:break-word;
}
#u5118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:139px;
}
#u5118 {
  position:absolute;
  left:543px;
  top:308px;
  width:146px;
  height:139px;
  text-align:center;
}
#u5119 {
  position:absolute;
  left:2px;
  top:62px;
  width:142px;
  word-wrap:break-word;
}
#u5120_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:99px;
  height:19px;
}
#u5120p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:92px;
  height:4px;
}
#u5120p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:94px;
  height:6px;
}
#u5120p001 {
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5120p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u5120.compound {
  width:0px;
  height:0px;
}
#u5120 {
  position:absolute;
  left:1534px;
  top:357px;
  width:90px;
  height:1px;
}
#u5121 {
  position:absolute;
  left:2px;
  top:-8px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5122 {
  position:absolute;
  left:85px;
  top:299px;
  width:93px;
  height:32px;
  color:#FF0000;
}
#u5123 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u5124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5124 {
  position:absolute;
  left:780px;
  top:0px;
  width:280px;
  height:520px;
}
#u5125 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5126 {
  position:absolute;
  left:784px;
  top:4px;
  width:16px;
  height:16px;
}
#u5127 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5128 {
  position:absolute;
  left:898px;
  top:4px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5129 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u5130 {
  position:absolute;
  left:780px;
  top:27px;
  width:280px;
  height:1px;
}
#u5131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5132 {
  position:absolute;
  left:880px;
  top:194px;
  width:14px;
  height:16px;
  color:#000000;
}
#u5133 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u5134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5134 {
  position:absolute;
  left:828px;
  top:204px;
  width:196px;
  height:18px;
  color:#000000;
}
#u5135 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u5136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5136 {
  position:absolute;
  left:848px;
  top:248px;
  width:145px;
  height:21px;
}
#u5137 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u5138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5138 {
  position:absolute;
  left:874px;
  top:556px;
  width:150px;
  height:20px;
  color:#FF0000;
}
#u5139 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u5140 {
  position:absolute;
  left:240px;
  top:264px;
  width:280px;
  height:1px;
}
#u5141 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5142 {
  position:absolute;
  left:262px;
  top:320px;
  width:30px;
  height:30px;
}
#u5143 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5144 {
  position:absolute;
  left:263px;
  top:280px;
  width:30px;
  height:30px;
}
#u5145 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5146 {
  position:absolute;
  left:297px;
  top:360px;
  width:52px;
  height:14px;
  font-size:11px;
}
#u5147 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5148 {
  position:absolute;
  left:262px;
  top:352px;
  width:30px;
  height:30px;
}
#u5149 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5150 {
  position:absolute;
  left:1301px;
  top:0px;
  width:280px;
  height:520px;
}
#u5151 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5152 {
  position:absolute;
  left:1409px;
  top:1px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5153 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u5154 {
  position:absolute;
  left:1301px;
  top:25px;
  width:280px;
  height:1px;
}
#u5155 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5156 {
  position:absolute;
  left:1305px;
  top:4px;
  width:16px;
  height:16px;
}
#u5157 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5158 {
  position:absolute;
  left:1391px;
  top:130px;
  width:91px;
  height:16px;
}
#u5159 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5160_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:247px;
  height:9px;
}
#u5160 {
  position:absolute;
  left:1315px;
  top:183px;
  width:242px;
  height:4px;
}
#u5161 {
  position:absolute;
  left:2px;
  top:-6px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5162 {
  position:absolute;
  left:1315px;
  top:164px;
  width:242px;
  height:16px;
}
#u5163 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  white-space:nowrap;
}
#u5164_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:20px;
  height:9px;
}
#u5164 {
  position:absolute;
  left:1315px;
  top:183px;
  width:15px;
  height:4px;
}
#u5165 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5166 {
  position:absolute;
  left:1523px;
  top:233px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5167 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5168 {
  position:absolute;
  left:1327px;
  top:249px;
  width:14px;
  height:16px;
}
#u5169 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u5170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.0666666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5170 {
  position:absolute;
  left:1301px;
  top:214px;
  width:280px;
  height:10px;
  color:#999999;
}
#u5171 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u5172 {
  position:absolute;
  left:1315px;
  top:233px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u5173 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5174 {
  position:absolute;
  left:1401px;
  top:35px;
  width:70px;
  height:70px;
}
#u5175 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5176 {
  position:absolute;
  left:1411px;
  top:62px;
  width:49px;
  height:16px;
  font-size:12px;
}
#u5177 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u5178 {
  position:absolute;
  left:1534px;
  top:6px;
  width:37px;
  height:12px;
  font-size:9px;
}
#u5179 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u5180 {
  position:absolute;
  left:1301px;
  top:254px;
  width:280px;
  height:1px;
}
#u5181 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u5182 {
  position:absolute;
  left:1361px;
  top:348px;
  width:196px;
  height:18px;
  font-size:13px;
  color:#666666;
}
#u5183 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u5184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5184 {
  position:absolute;
  left:1366px;
  top:554px;
  width:150px;
  height:20px;
  color:#FF0000;
}
#u5185 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5186 {
  position:absolute;
  left:1634px;
  top:352px;
  width:121px;
  height:16px;
  color:#FF0000;
}
#u5187 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
