body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:774px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:10px;
  width:280px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:244px;
  top:14px;
  width:16px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:352px;
  top:14px;
  width:55px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:240px;
  top:30px;
  width:280px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u7 {
  position:absolute;
  left:240px;
  top:150px;
  width:280px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u8 {
  position:absolute;
  left:257px;
  top:163px;
  width:27px;
  height:15px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:240px;
  top:179px;
  width:280px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u11 {
  position:absolute;
  left:257px;
  top:190px;
  width:53px;
  height:15px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:240px;
  top:206px;
  width:280px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u14 {
  position:absolute;
  left:257px;
  top:216px;
  width:79px;
  height:15px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:240px;
  top:232px;
  width:280px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u17 {
  position:absolute;
  left:481px;
  top:163px;
  width:28px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:494px;
  top:188px;
  width:16px;
  height:16px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:494px;
  top:214px;
  width:16px;
  height:16px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:510px;
  top:217px;
  width:60px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:1px;
}
#u24 {
  position:absolute;
  left:580px;
  top:211px;
  width:118px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:340px;
  top:50px;
  width:80px;
  height:80px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u27 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:55px;
  top:590px;
  width:724px;
  height:371px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:246px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:369px;
  top:0px;
  width:173px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:542px;
  top:0px;
  width:177px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:184px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:184px;
}
#u40 {
  position:absolute;
  left:2px;
  top:84px;
  width:119px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:123px;
  top:30px;
  width:123px;
  height:184px;
  font-size:12px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:184px;
}
#u42 {
  position:absolute;
  left:2px;
  top:77px;
  width:119px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:246px;
  top:30px;
  width:123px;
  height:184px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:184px;
}
#u44 {
  position:absolute;
  left:2px;
  top:84px;
  width:119px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:369px;
  top:30px;
  width:173px;
  height:184px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:184px;
}
#u46 {
  position:absolute;
  left:2px;
  top:84px;
  width:169px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:542px;
  top:30px;
  width:177px;
  height:184px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:184px;
}
#u48 {
  position:absolute;
  left:2px;
  top:84px;
  width:173px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:214px;
  width:123px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u50 {
  position:absolute;
  left:2px;
  top:18px;
  width:119px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:123px;
  top:214px;
  width:123px;
  height:52px;
  font-size:12px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u52 {
  position:absolute;
  left:2px;
  top:18px;
  width:119px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:246px;
  top:214px;
  width:123px;
  height:52px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u54 {
  position:absolute;
  left:2px;
  top:18px;
  width:119px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:369px;
  top:214px;
  width:173px;
  height:52px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:52px;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:169px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:542px;
  top:214px;
  width:177px;
  height:52px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:52px;
}
#u58 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:266px;
  width:123px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:100px;
}
#u60 {
  position:absolute;
  left:2px;
  top:42px;
  width:119px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:123px;
  top:266px;
  width:123px;
  height:100px;
  font-size:12px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:100px;
}
#u62 {
  position:absolute;
  left:2px;
  top:42px;
  width:119px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:246px;
  top:266px;
  width:123px;
  height:100px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:100px;
}
#u64 {
  position:absolute;
  left:2px;
  top:42px;
  width:119px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:369px;
  top:266px;
  width:173px;
  height:100px;
  font-size:12px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:100px;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:169px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:542px;
  top:266px;
  width:177px;
  height:100px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:100px;
}
#u68 {
  position:absolute;
  left:2px;
  top:42px;
  width:173px;
  word-wrap:break-word;
}
