body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:13px;
  width:280px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:244px;
  top:21px;
  width:16px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:350px;
  top:21px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:240px;
  top:47px;
  width:280px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u7 {
  position:absolute;
  left:248px;
  top:73px;
  width:60px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:320px;
  top:73px;
  width:122px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:342px;
  top:96px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:320px;
  top:93px;
  width:20px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:318px;
  top:117px;
  width:171px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:240px;
  top:53px;
  width:280px;
  height:10px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:248px;
  top:153px;
  width:60px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:320px;
  top:153px;
  width:71px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:342px;
  top:176px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:320px;
  top:173px;
  width:20px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:318px;
  top:197px;
  width:171px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:240px;
  top:138px;
  width:280px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u30 {
  position:absolute;
  left:248px;
  top:233px;
  width:60px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:320px;
  top:233px;
  width:99px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:342px;
  top:256px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:320px;
  top:253px;
  width:20px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:318px;
  top:277px;
  width:171px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:240px;
  top:218px;
  width:280px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u41 {
  position:absolute;
  left:248px;
  top:314px;
  width:60px;
  height:60px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:320px;
  top:314px;
  width:94px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:342px;
  top:337px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:320px;
  top:334px;
  width:20px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:318px;
  top:358px;
  width:171px;
  height:15px;
  font-size:12px;
  color:#5E5E5E;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:240px;
  top:299px;
  width:280px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u52 {
  position:absolute;
  left:240px;
  top:382px;
  width:280px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
