body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:543px;
  width:320px;
  height:117px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
}
#u1 {
  position:absolute;
  left:2px;
  top:50px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u4 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:70px;
  top:4px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:23px;
  width:321px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u10 {
  position:absolute;
  left:125px;
  top:43px;
  width:70px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:291px;
  top:8px;
  width:21px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:143px;
  width:321px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:182px;
  width:321px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u16 {
  position:absolute;
  left:15px;
  top:160px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:148px;
  width:321px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:0px;
  top:221px;
  width:321px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u20 {
  position:absolute;
  left:293px;
  top:196px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:15px;
  top:199px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:260px;
  width:321px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u25 {
  position:absolute;
  left:15px;
  top:238px;
  width:39px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:400px;
  width:321px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:3px;
  width:321px;
  height:5px;
}
#u28 {
  position:absolute;
  left:293px;
  top:274px;
  width:22px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:15px;
  top:277px;
  width:53px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:190px;
  top:160px;
  width:97px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:293px;
  top:156px;
  width:22px;
  height:22px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u35 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:218px;
  top:200px;
  width:66px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:224px;
  top:238px;
  width:57px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:15px;
  top:302px;
  width:270px;
  height:96px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:96px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:504px;
  width:321px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u43 {
  position:absolute;
  left:293px;
  top:451px;
  width:22px;
  height:22px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:15px;
  top:417px;
  width:104px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:15px;
  top:442px;
  width:40px;
  height:40px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:70px;
  top:442px;
  width:40px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:130px;
  top:442px;
  width:40px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:190px;
  top:442px;
  width:40px;
  height:40px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:253px;
  top:442px;
  width:40px;
  height:40px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:15px;
  top:485px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:79px;
  top:485px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:139px;
  top:485px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:199px;
  top:485px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:262px;
  top:485px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:0px;
  top:504px;
  width:321px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u68 {
  position:absolute;
  left:0px;
  top:543px;
  width:321px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u69 {
  position:absolute;
  left:293px;
  top:518px;
  width:22px;
  height:22px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:15px;
  top:521px;
  width:66px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:0px;
  top:543px;
  width:321px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:543px;
  width:321px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u75 {
  position:absolute;
  left:0px;
  top:582px;
  width:321px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u76 {
  position:absolute;
  left:15px;
  top:560px;
  width:105px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:277px;
  top:558px;
  width:33px;
  height:20px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:582px;
  width:321px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u81 {
  position:absolute;
  left:0px;
  top:582px;
  width:321px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u82 {
  position:absolute;
  left:0px;
  top:621px;
  width:321px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u83 {
  position:absolute;
  left:15px;
  top:599px;
  width:79px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:0px;
  top:621px;
  width:321px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u86 {
  position:absolute;
  left:0px;
  top:621px;
  width:321px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u87 {
  position:absolute;
  left:0px;
  top:553px;
  width:320px;
  height:107px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:107px;
}
#u88 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:9px;
  top:577px;
  width:305px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u89_input {
  font-family:'应用字体';
}
#u90 {
  position:absolute;
  left:9px;
  top:619px;
  width:305px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u90_input {
  font-family:'应用字体';
}
#u91 {
  position:absolute;
  left:348px;
  top:89px;
  width:53px;
  height:16px;
  text-decoration:underline;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:348px;
  top:114px;
  width:40px;
  height:15px;
  color:#008000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:397px;
  top:114px;
  width:92px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:340px;
  top:19px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:770px;
  top:19px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:340px;
  top:52px;
  width:239px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:0px;
  top:265px;
  width:321px;
  height:135px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:200px;
  top:100px;
  width:130px;
  height:0px;
}
#u104_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:144px;
  height:20px;
}
#u104_seg1 {
  position:absolute;
  left:120px;
  top:-4px;
  width:20px;
  height:14px;
}
#u105 {
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:400px;
  top:591px;
  width:79px;
  height:16px;
  text-decoration:underline;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:340px;
  top:602px;
  width:40px;
  height:-2px;
}
#u108_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u108_seg1 {
  position:absolute;
  left:30px;
  top:-6px;
  width:20px;
  height:16px;
}
#u109 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:400px;
  top:621px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:449px;
  top:621px;
  width:105px;
  height:15px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:562px;
  top:619px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:650px;
  top:619px;
  width:150px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
