body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4407 {
  position:absolute;
  left:0px;
  top:543px;
  width:320px;
  height:117px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4408 {
  position:absolute;
  left:2px;
  top:50px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4410 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4411 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4412 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:22px;
}
#u4413 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4414 {
  position:absolute;
  left:70px;
  top:4px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4415 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u4416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4416 {
  position:absolute;
  left:0px;
  top:28px;
  width:321px;
  height:1px;
}
#u4417 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4418 {
  position:absolute;
  left:125px;
  top:43px;
  width:70px;
  height:70px;
}
#u4419 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4420 {
  position:absolute;
  left:291px;
  top:8px;
  width:21px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4421 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4422 {
  position:absolute;
  left:0px;
  top:148px;
  width:321px;
  height:1px;
}
#u4423 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4424 {
  position:absolute;
  left:0px;
  top:187px;
  width:321px;
  height:1px;
}
#u4425 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4426 {
  position:absolute;
  left:15px;
  top:160px;
  width:53px;
  height:16px;
}
#u4427 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4428 {
  position:absolute;
  left:0px;
  top:148px;
  width:321px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4429 {
  position:absolute;
  left:0px;
  top:226px;
  width:321px;
  height:1px;
}
#u4430 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4431 {
  position:absolute;
  left:293px;
  top:196px;
  width:22px;
  height:22px;
}
#u4432 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4433 {
  position:absolute;
  left:15px;
  top:199px;
  width:53px;
  height:16px;
}
#u4434 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4435 {
  position:absolute;
  left:0px;
  top:265px;
  width:321px;
  height:1px;
}
#u4436 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4437 {
  position:absolute;
  left:15px;
  top:238px;
  width:39px;
  height:16px;
}
#u4438 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4439_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:326px;
  height:10px;
}
#u4439 {
  position:absolute;
  left:0px;
  top:403px;
  width:321px;
  height:5px;
}
#u4440 {
  position:absolute;
  left:2px;
  top:-6px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4441 {
  position:absolute;
  left:293px;
  top:274px;
  width:22px;
  height:22px;
}
#u4442 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4443 {
  position:absolute;
  left:15px;
  top:277px;
  width:53px;
  height:16px;
}
#u4444 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4445 {
  position:absolute;
  left:190px;
  top:160px;
  width:97px;
  height:16px;
}
#u4446 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4447 {
  position:absolute;
  left:293px;
  top:156px;
  width:22px;
  height:22px;
}
#u4448 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4449 {
  position:absolute;
  left:218px;
  top:200px;
  width:66px;
  height:16px;
}
#u4450 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4451 {
  position:absolute;
  left:224px;
  top:238px;
  width:57px;
  height:16px;
}
#u4452 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4453 {
  position:absolute;
  left:15px;
  top:302px;
  width:270px;
  height:96px;
}
#u4454 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u4455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4455 {
  position:absolute;
  left:0px;
  top:509px;
  width:321px;
  height:1px;
}
#u4456 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4457 {
  position:absolute;
  left:293px;
  top:451px;
  width:22px;
  height:22px;
}
#u4458 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4459 {
  position:absolute;
  left:15px;
  top:417px;
  width:104px;
  height:16px;
}
#u4460 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4461 {
  position:absolute;
  left:15px;
  top:442px;
  width:40px;
  height:40px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u4462 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  word-wrap:break-word;
}
#u4463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4463 {
  position:absolute;
  left:70px;
  top:442px;
  width:40px;
  height:40px;
}
#u4464 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u4465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4465 {
  position:absolute;
  left:130px;
  top:442px;
  width:40px;
  height:40px;
}
#u4466 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u4467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4467 {
  position:absolute;
  left:190px;
  top:442px;
  width:40px;
  height:40px;
}
#u4468 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u4469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4469 {
  position:absolute;
  left:253px;
  top:442px;
  width:40px;
  height:40px;
}
#u4470 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u4471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u4471 {
  position:absolute;
  left:15px;
  top:485px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u4472 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u4473 {
  position:absolute;
  left:79px;
  top:485px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u4474 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u4475 {
  position:absolute;
  left:139px;
  top:485px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u4476 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u4477 {
  position:absolute;
  left:199px;
  top:485px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u4478 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u4479 {
  position:absolute;
  left:262px;
  top:485px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u4480 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4481 {
  position:absolute;
  left:0px;
  top:509px;
  width:321px;
  height:1px;
}
#u4482 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4483 {
  position:absolute;
  left:0px;
  top:548px;
  width:321px;
  height:1px;
}
#u4484 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4485 {
  position:absolute;
  left:293px;
  top:518px;
  width:22px;
  height:22px;
}
#u4486 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4487 {
  position:absolute;
  left:15px;
  top:521px;
  width:66px;
  height:16px;
}
#u4488 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4489 {
  position:absolute;
  left:0px;
  top:548px;
  width:321px;
  height:1px;
}
#u4490 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4491 {
  position:absolute;
  left:0px;
  top:548px;
  width:321px;
  height:1px;
}
#u4492 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4493 {
  position:absolute;
  left:0px;
  top:587px;
  width:321px;
  height:1px;
}
#u4494 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4495 {
  position:absolute;
  left:15px;
  top:560px;
  width:105px;
  height:16px;
}
#u4496 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u4497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u4497 {
  position:absolute;
  left:277px;
  top:558px;
  width:33px;
  height:20px;
}
#u4498 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4499 {
  position:absolute;
  left:0px;
  top:587px;
  width:321px;
  height:1px;
}
#u4500 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4501 {
  position:absolute;
  left:0px;
  top:587px;
  width:321px;
  height:1px;
}
#u4502 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4503 {
  position:absolute;
  left:0px;
  top:626px;
  width:321px;
  height:1px;
}
#u4504 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4505 {
  position:absolute;
  left:15px;
  top:599px;
  width:79px;
  height:16px;
}
#u4506 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4507 {
  position:absolute;
  left:0px;
  top:626px;
  width:321px;
  height:1px;
}
#u4508 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4509 {
  position:absolute;
  left:0px;
  top:626px;
  width:321px;
  height:1px;
}
#u4510 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:107px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4511 {
  position:absolute;
  left:0px;
  top:553px;
  width:320px;
  height:107px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4512 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4513 {
  position:absolute;
  left:9px;
  top:577px;
  width:305px;
  height:25px;
}
#u4513_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4513_input {
  font-family:'应用字体';
}
#u4514 {
  position:absolute;
  left:9px;
  top:619px;
  width:305px;
  height:25px;
}
#u4514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4514_input {
  font-family:'应用字体';
}
#u4515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u4515 {
  position:absolute;
  left:348px;
  top:89px;
  width:53px;
  height:16px;
  text-decoration:underline;
}
#u4516 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u4517 {
  position:absolute;
  left:348px;
  top:114px;
  width:40px;
  height:15px;
  color:#008000;
}
#u4518 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4519 {
  position:absolute;
  left:397px;
  top:114px;
  width:92px;
  height:16px;
}
#u4520 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u4521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4521 {
  position:absolute;
  left:340px;
  top:19px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4522 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4523 {
  position:absolute;
  left:770px;
  top:19px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4524 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4525 {
  position:absolute;
  left:340px;
  top:52px;
  width:239px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4526 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u4527 {
  position:absolute;
  left:0px;
  top:265px;
  width:321px;
  height:135px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4528 {
  position:absolute;
  left:200px;
  top:100px;
  width:0px;
  height:0px;
}
#u4528_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u4528_seg1 {
  position:absolute;
  left:126px;
  top:0px;
  width:8px;
  height:4px;
}
#u4529 {
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u4530 {
  position:absolute;
  left:400px;
  top:591px;
  width:79px;
  height:16px;
  text-decoration:underline;
}
#u4531 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4532 {
  position:absolute;
  left:340px;
  top:602px;
  width:0px;
  height:0px;
}
#u4532_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u4532_seg1 {
  position:absolute;
  left:36px;
  top:-2px;
  width:8px;
  height:6px;
}
#u4533 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u4534 {
  position:absolute;
  left:400px;
  top:621px;
  width:40px;
  height:16px;
  color:#0000FF;
}
#u4535 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4536 {
  position:absolute;
  left:449px;
  top:621px;
  width:105px;
  height:15px;
}
#u4537 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u4538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4538 {
  position:absolute;
  left:562px;
  top:619px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4539 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u4540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4540 {
  position:absolute;
  left:650px;
  top:619px;
  width:150px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4541 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
