body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:10px;
  width:280px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:30px;
  width:280px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u3 {
  position:absolute;
  left:244px;
  top:14px;
  width:16px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:344px;
  top:14px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:251px;
  top:45px;
  width:35px;
  height:35px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:301px;
  top:54px;
  width:38px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:240px;
  top:84px;
  width:280px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u12 {
  position:absolute;
  left:460px;
  top:54px;
  width:40px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:468px;
  top:56px;
  width:27px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:68px;
  top:642px;
  width:713px;
  height:128px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:246px;
  top:0px;
  width:185px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:431px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:579px;
  top:0px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:93px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:93px;
}
#u28 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:123px;
  top:30px;
  width:123px;
  height:93px;
  font-size:12px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:93px;
}
#u30 {
  position:absolute;
  left:2px;
  top:32px;
  width:119px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:246px;
  top:30px;
  width:185px;
  height:93px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:93px;
}
#u32 {
  position:absolute;
  left:2px;
  top:38px;
  width:181px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:431px;
  top:30px;
  width:148px;
  height:93px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:93px;
}
#u34 {
  position:absolute;
  left:2px;
  top:30px;
  width:144px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:579px;
  top:30px;
  width:130px;
  height:93px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:93px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:450px;
  top:562px;
  width:80px;
  height:70px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u38 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:464px;
  top:590px;
  width:53px;
  height:16px;
  color:#666666;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:336px;
  top:562px;
  width:80px;
  height:70px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:70px;
}
#u42 {
  position:absolute;
  left:2px;
  top:27px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:350px;
  top:590px;
  width:53px;
  height:16px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:196px;
  top:54px;
  width:64px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:47px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  height:1px;
}
#u46 {
  position:absolute;
  left:89px;
  top:50px;
  width:105px;
  height:16px;
  color:#FF0000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:550px;
  top:10px;
  width:280px;
  height:520px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u49 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:550px;
  top:30px;
  width:280px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u51 {
  position:absolute;
  left:554px;
  top:14px;
  width:16px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u52 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:654px;
  top:14px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:645px;
  top:261px;
  width:105px;
  height:18px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
