body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:250px;
  top:20px;
  width:280px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:254px;
  top:24px;
  width:16px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:368px;
  top:24px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:250px;
  top:42px;
  width:280px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u7 {
  position:absolute;
  left:262px;
  top:56px;
  width:35px;
  height:35px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:312px;
  top:58px;
  width:38px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:312px;
  top:77px;
  width:46px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:262px;
  top:100px;
  width:258px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:270px;
  top:107px;
  width:208px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:251px;
  top:138px;
  width:280px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u18 {
  position:absolute;
  left:262px;
  top:148px;
  width:35px;
  height:35px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:312px;
  top:150px;
  width:38px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:312px;
  top:169px;
  width:29px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:262px;
  top:218px;
  width:183px;
  height:16px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  visibility:hidden;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:262px;
  top:191px;
  width:258px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:270px;
  top:198px;
  width:157px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:626px;
  top:107px;
  width:93px;
  height:32px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:488px;
  top:111px;
  width:128px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:111px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:128px;
  height:1px;
}
#u33 {
  position:absolute;
  left:590px;
  top:57px;
  width:93px;
  height:16px;
  color:#FF0000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:360px;
  top:60px;
  width:220px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u36 {
  position:absolute;
  left:626px;
  top:165px;
  width:93px;
  height:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:488px;
  top:169px;
  width:128px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:111px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:128px;
  height:1px;
}
#u39 {
  position:absolute;
  left:6px;
  top:132px;
  width:235px;
  height:185px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:185px;
}
#u40 {
  position:absolute;
  left:2px;
  top:84px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:76px;
  top:95px;
  width:122px;
  height:16px;
  color:#FF0000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
