body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:10px;
  width:280px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:244px;
  top:14px;
  width:16px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:360px;
  top:15px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:240px;
  top:40px;
  width:280px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u7 {
  position:absolute;
  left:240px;
  top:490px;
  width:280px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:473px;
  top:17px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:275px;
  top:495px;
  width:174px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:245px;
  top:497px;
  width:24px;
  height:24px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:456px;
  top:498px;
  width:24px;
  height:24px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:488px;
  top:498px;
  width:24px;
  height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:262px;
  top:73px;
  width:35px;
  height:35px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:312px;
  top:71px;
  width:38px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:312px;
  top:94px;
  width:78px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:335px;
  top:50px;
  width:90px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:262px;
  top:163px;
  width:35px;
  height:35px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:312px;
  top:161px;
  width:38px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:312px;
  top:184px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:335px;
  top:140px;
  width:90px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:14px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
