body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:10px;
  width:280px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:244px;
  top:14px;
  width:16px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:350px;
  top:14px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:240px;
  top:40px;
  width:280px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u7 {
  position:absolute;
  left:252px;
  top:60px;
  width:183px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:240px;
  top:107px;
  width:280px;
  height:10px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:252px;
  top:127px;
  width:211px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:240px;
  top:177px;
  width:280px;
  height:10px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:252px;
  top:193px;
  width:85px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:240px;
  top:243px;
  width:280px;
  height:10px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:240px;
  top:560px;
  width:280px;
  height:520px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u20 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:244px;
  top:564px;
  width:16px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:350px;
  top:564px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:240px;
  top:590px;
  width:280px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u26 {
  position:absolute;
  left:321px;
  top:794px;
  width:105px;
  height:16px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:451px;
  top:86px;
  width:24px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:627px;
  top:804px;
  width:93px;
  height:16px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:485px;
  top:806px;
  width:132px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:115px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:132px;
  height:1px;
}
#u33 {
  position:absolute;
  left:534px;
  top:54px;
  width:136px;
  height:16px;
  color:#FF0000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:252px;
  top:84px;
  width:16px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:301px;
  top:85px;
  width:16px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:269px;
  top:86px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:321px;
  top:86px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:485px;
  top:152px;
  width:24px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:252px;
  top:150px;
  width:16px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:301px;
  top:151px;
  width:16px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:269px;
  top:152px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:321px;
  top:152px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:485px;
  top:218px;
  width:24px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:252px;
  top:216px;
  width:16px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:301px;
  top:217px;
  width:16px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:269px;
  top:218px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:321px;
  top:218px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:195px;
  top:86px;
  width:64px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:47px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  height:1px;
}
#u64 {
  position:absolute;
  left:145px;
  top:82px;
  width:40px;
  height:16px;
  color:#FF0000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:187px;
  top:149px;
  width:64px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:47px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  height:1px;
}
#u67 {
  position:absolute;
  left:137px;
  top:146px;
  width:40px;
  height:16px;
  color:#FF0000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:80px;
  top:1114px;
  width:793px;
  height:221px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:246px;
  top:0px;
  width:185px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:431px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:543px;
  top:0px;
  width:246px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:242px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:93px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:93px;
}
#u81 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:123px;
  top:30px;
  width:123px;
  height:93px;
  font-size:12px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:93px;
}
#u83 {
  position:absolute;
  left:2px;
  top:9px;
  width:119px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:246px;
  top:30px;
  width:185px;
  height:93px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:93px;
}
#u85 {
  position:absolute;
  left:2px;
  top:38px;
  width:181px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:431px;
  top:30px;
  width:112px;
  height:93px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:93px;
}
#u87 {
  position:absolute;
  left:2px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:543px;
  top:30px;
  width:246px;
  height:93px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:93px;
}
#u89 {
  position:absolute;
  left:2px;
  top:30px;
  width:242px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:123px;
  width:123px;
  height:93px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:93px;
}
#u91 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:123px;
  top:123px;
  width:123px;
  height:93px;
  font-size:12px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:93px;
}
#u93 {
  position:absolute;
  left:2px;
  top:39px;
  width:119px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:246px;
  top:123px;
  width:185px;
  height:93px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:93px;
}
#u95 {
  position:absolute;
  left:2px;
  top:38px;
  width:181px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:431px;
  top:123px;
  width:112px;
  height:93px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:93px;
}
#u97 {
  position:absolute;
  left:2px;
  top:38px;
  width:108px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:543px;
  top:123px;
  width:246px;
  height:93px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:93px;
}
#u99 {
  position:absolute;
  left:2px;
  top:22px;
  width:242px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:347px;
  top:83px;
  width:15px;
  height:15px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:365px;
  top:86px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:347px;
  top:149px;
  width:15px;
  height:15px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u105 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:365px;
  top:152px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:347px;
  top:215px;
  width:15px;
  height:15px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:365px;
  top:218px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:574px;
  top:310px;
  width:200px;
  height:43px;
  color:#999999;
}
#u112_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:49px;
}
#u113 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:610px;
  top:322px;
  width:118px;
  height:16px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:588px;
  top:380px;
  width:163px;
  height:43px;
  color:#999999;
}
#u116_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:169px;
  height:49px;
}
#u117 {
  position:absolute;
  left:2px;
  top:14px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:630px;
  top:394px;
  width:79px;
  height:16px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:352px;
  top:230px;
  width:10px;
  height:51px;
}
#u120_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u120_end {
  position:absolute;
  left:-5px;
  top:34px;
  width:20px;
  height:18px;
}
#u120_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:51px;
}
#u121 {
  position:absolute;
  left:332px;
  top:291px;
  width:44px;
  height:16px;
  color:#FF0000;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:480px;
  top:44px;
  width:40px;
  height:63px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:63px;
}
#u124 {
  position:absolute;
  left:2px;
  top:24px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:484px;
  top:68px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:586px;
  top:189px;
  width:200px;
  height:70px;
  color:#999999;
}
#u127_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:76px;
}
#u128 {
  position:absolute;
  left:2px;
  top:27px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:594px;
  top:195px;
  width:183px;
  height:32px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:32px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:586px;
  top:227px;
  width:200px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u132 {
  position:absolute;
  left:618px;
  top:237px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:718px;
  top:237px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
