body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1203px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4260 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4261 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4262 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:22px;
}
#u4263 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4264 {
  position:absolute;
  left:70px;
  top:4px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4265 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u4266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4266 {
  position:absolute;
  left:0px;
  top:28px;
  width:321px;
  height:1px;
}
#u4267 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4268 {
  position:absolute;
  left:283px;
  top:6px;
  width:27px;
  height:16px;
}
#u4269 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4270 {
  position:absolute;
  left:22px;
  top:175px;
  width:275px;
  height:35px;
}
#u4270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4270_input {
  font-family:'应用字体';
}
#u4271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4271 {
  position:absolute;
  left:109px;
  top:60px;
  width:100px;
  height:100px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u4272 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u4273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4273 {
  position:absolute;
  left:0px;
  top:226px;
  width:321px;
  height:1px;
}
#u4274 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4275 {
  position:absolute;
  left:0px;
  top:265px;
  width:321px;
  height:1px;
}
#u4276 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4277 {
  position:absolute;
  left:293px;
  top:235px;
  width:22px;
  height:22px;
}
#u4278 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4279 {
  position:absolute;
  left:18px;
  top:238px;
  width:66px;
  height:16px;
}
#u4280 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4281 {
  position:absolute;
  left:0px;
  top:226px;
  width:321px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4282 {
  position:absolute;
  left:350px;
  top:200px;
  width:200px;
  height:100px;
}
#u4283 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4284 {
  position:absolute;
  left:350px;
  top:265px;
  width:200px;
  height:1px;
}
#u4285 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u4286 {
  position:absolute;
  left:450px;
  top:264px;
  width:1px;
  height:35px;
}
#u4287 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4288 {
  position:absolute;
  left:388px;
  top:274px;
  width:27px;
  height:16px;
}
#u4289 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4290 {
  position:absolute;
  left:486px;
  top:274px;
  width:27px;
  height:16px;
}
#u4291 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4292 {
  position:absolute;
  left:424px;
  top:215px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4293 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4294 {
  position:absolute;
  left:353px;
  top:235px;
  width:196px;
  height:16px;
}
#u4295 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u4296 {
  position:absolute;
  left:0px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4296_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1204px;
  height:8px;
}
#u4297 {
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4298 {
  position:absolute;
  left:10px;
  top:710px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4299 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4300 {
  position:absolute;
  left:10px;
  top:752px;
  width:320px;
  height:32px;
}
#u4301 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4302 {
  position:absolute;
  left:10px;
  top:620px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4303 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u4304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4304 {
  position:absolute;
  left:84px;
  top:757px;
  width:180px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4305 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u4306 {
  position:absolute;
  left:340px;
  top:770px;
  width:0px;
  height:0px;
}
#u4306_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u4307 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4308 {
  position:absolute;
  left:470px;
  top:819px;
  width:130px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4309 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u4310 {
  position:absolute;
  left:182px;
  top:747px;
  width:0px;
  height:0px;
  color:#0099CC;
}
#u4310_seg0 {
  position:absolute;
  left:-4px;
  top:-24px;
  width:8px;
  height:24px;
}
#u4310_seg1 {
  position:absolute;
  left:-4px;
  top:-24px;
  width:222px;
  height:8px;
}
#u4311 {
  position:absolute;
  left:49px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u4312 {
  position:absolute;
  left:415px;
  top:720px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u4313 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4314 {
  position:absolute;
  left:10px;
  top:864px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4315 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4316 {
  position:absolute;
  left:336px;
  top:983px;
  width:0px;
  height:0px;
}
#u4316_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u4317 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4318 {
  position:absolute;
  left:800px;
  top:620px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4319 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u4320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4320 {
  position:absolute;
  left:415px;
  top:819px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#008000;
}
#u4321 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u4322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u4322 {
  position:absolute;
  left:415px;
  top:759px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u4323 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4324 {
  position:absolute;
  left:10px;
  top:660px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4325 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4326 {
  position:absolute;
  left:20px;
  top:757px;
  width:22px;
  height:22px;
}
#u4327 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4328 {
  position:absolute;
  left:294px;
  top:759px;
  width:27px;
  height:16px;
}
#u4329 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline;
}
#u4330 {
  position:absolute;
  left:415px;
  top:977px;
  width:57px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u4331 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#008000;
}
#u4332 {
  position:absolute;
  left:415px;
  top:1002px;
  width:43px;
  height:15px;
  font-size:14px;
  color:#008000;
}
#u4333 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4334 {
  position:absolute;
  left:463px;
  top:1002px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u4335 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u4336 {
  position:absolute;
  left:415px;
  top:789px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#0000FF;
}
#u4337 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4338 {
  position:absolute;
  left:469px;
  top:788px;
  width:309px;
  height:16px;
  font-size:14px;
}
#u4339 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u4340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:314px;
}
#u4340 {
  position:absolute;
  left:10px;
  top:893px;
  width:321px;
  height:314px;
}
#u4341 {
  position:absolute;
  left:2px;
  top:149px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4342 {
  position:absolute;
  left:32px;
  top:1051px;
  width:275px;
  height:35px;
}
#u4342_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4342_input {
  font-family:'应用字体';
}
#u4343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4343 {
  position:absolute;
  left:120px;
  top:936px;
  width:100px;
  height:100px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u4344 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u4345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4345 {
  position:absolute;
  left:10px;
  top:1115px;
  width:321px;
  height:1px;
}
#u4346 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u4347 {
  position:absolute;
  left:10px;
  top:1154px;
  width:321px;
  height:1px;
}
#u4348 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4349 {
  position:absolute;
  left:304px;
  top:1124px;
  width:22px;
  height:22px;
}
#u4350 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4351 {
  position:absolute;
  left:28px;
  top:1127px;
  width:66px;
  height:16px;
}
#u4352 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4353 {
  position:absolute;
  left:10px;
  top:1115px;
  width:321px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4354 {
  position:absolute;
  left:336px;
  top:1064px;
  width:0px;
  height:0px;
}
#u4354_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u4355 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline;
}
#u4356 {
  position:absolute;
  left:415px;
  top:1058px;
  width:57px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u4357 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4358 {
  position:absolute;
  left:463px;
  top:1083px;
  width:142px;
  height:16px;
  font-size:14px;
}
#u4359 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u4360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u4360 {
  position:absolute;
  left:415px;
  top:1083px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#0000FF;
}
#u4361 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4362 {
  position:absolute;
  left:341px;
  top:1137px;
  width:0px;
  height:0px;
}
#u4362_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u4363 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline;
}
#u4364 {
  position:absolute;
  left:420px;
  top:1131px;
  width:57px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
}
#u4365 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4366 {
  position:absolute;
  left:468px;
  top:1156px;
  width:337px;
  height:16px;
  font-size:14px;
}
#u4367 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u4368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u4368 {
  position:absolute;
  left:420px;
  top:1156px;
  width:43px;
  height:16px;
  font-size:14px;
  color:#0000FF;
}
#u4369 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
