body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:10px;
  width:280px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:244px;
  top:14px;
  width:16px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:350px;
  top:14px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:240px;
  top:40px;
  width:280px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u7 {
  position:absolute;
  left:252px;
  top:60px;
  width:183px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:240px;
  top:112px;
  width:280px;
  height:10px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:252px;
  top:132px;
  width:211px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:240px;
  top:190px;
  width:280px;
  height:10px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:252px;
  top:210px;
  width:85px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#434343;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:240px;
  top:262px;
  width:280px;
  height:10px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:560px;
  top:9px;
  width:280px;
  height:520px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u20 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:564px;
  top:13px;
  width:16px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:670px;
  top:13px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:560px;
  top:39px;
  width:280px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u26 {
  position:absolute;
  left:640px;
  top:237px;
  width:105px;
  height:16px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:95px;
  top:63px;
  width:132px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:115px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:132px;
  height:1px;
}
#u29 {
  position:absolute;
  left:37px;
  top:58px;
  width:93px;
  height:32px;
  color:#FF0000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:485px;
  top:86px;
  width:24px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:252px;
  top:84px;
  width:16px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:294px;
  top:85px;
  width:16px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:269px;
  top:86px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:314px;
  top:86px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:335px;
  top:83px;
  width:15px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:353px;
  top:86px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:485px;
  top:165px;
  width:24px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:252px;
  top:163px;
  width:16px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:294px;
  top:164px;
  width:16px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:269px;
  top:165px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:314px;
  top:165px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:335px;
  top:162px;
  width:15px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:353px;
  top:165px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:485px;
  top:237px;
  width:24px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:252px;
  top:235px;
  width:16px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:294px;
  top:236px;
  width:16px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u64 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:269px;
  top:237px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:314px;
  top:237px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:335px;
  top:234px;
  width:15px;
  height:15px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u70 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:353px;
  top:237px;
  width:16px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:68px;
  top:554px;
  width:693px;
  height:313px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:246px;
  top:0px;
  width:185px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:431px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:543px;
  top:0px;
  width:146px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:139px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u85 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:123px;
  top:30px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u87 {
  position:absolute;
  left:2px;
  top:24px;
  width:119px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:246px;
  top:30px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u89 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:431px;
  top:30px;
  width:112px;
  height:139px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:139px;
}
#u91 {
  position:absolute;
  left:2px;
  top:46px;
  width:108px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:543px;
  top:30px;
  width:146px;
  height:139px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:139px;
}
#u93 {
  position:absolute;
  left:2px;
  top:46px;
  width:142px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:169px;
  width:123px;
  height:139px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u95 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:123px;
  top:169px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u97 {
  position:absolute;
  left:2px;
  top:54px;
  width:119px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:246px;
  top:169px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u99 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:431px;
  top:169px;
  width:112px;
  height:139px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:139px;
}
#u101 {
  position:absolute;
  left:2px;
  top:62px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:543px;
  top:169px;
  width:146px;
  height:139px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:139px;
}
#u103 {
  position:absolute;
  left:2px;
  top:62px;
  width:142px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:20px;
  top:366px;
  width:200px;
  height:43px;
  color:#999999;
}
#u104_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:49px;
}
#u105 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:56px;
  top:378px;
  width:118px;
  height:16px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:39px;
  top:437px;
  width:163px;
  height:43px;
  color:#999999;
}
#u108_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:169px;
  height:49px;
}
#u109 {
  position:absolute;
  left:2px;
  top:14px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:81px;
  top:451px;
  width:79px;
  height:16px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:120px;
  top:237px;
  width:132px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:115px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:132px;
  height:1px;
}
#u113 {
  position:absolute;
  left:68px;
  top:233px;
  width:93px;
  height:16px;
  color:#FF0000;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:296px;
  top:252px;
  width:10px;
  height:51px;
}
#u115_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u115_end {
  position:absolute;
  left:-5px;
  top:34px;
  width:20px;
  height:18px;
}
#u115_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:51px;
}
#u116 {
  position:absolute;
  left:276px;
  top:313px;
  width:44px;
  height:16px;
  color:#FF0000;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:345px;
  top:252px;
  width:10px;
  height:51px;
}
#u118_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u118_end {
  position:absolute;
  left:-5px;
  top:34px;
  width:20px;
  height:18px;
}
#u118_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:51px;
}
#u119 {
  position:absolute;
  left:325px;
  top:313px;
  width:44px;
  height:16px;
  color:#FF0000;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:487px;
  top:14px;
  width:25px;
  height:24px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:805px;
  top:14px;
  width:25px;
  height:24px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
