body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:240px;
  top:14px;
  width:280px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:370px;
  top:16px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:240px;
  top:30px;
  width:280px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u5 {
  position:absolute;
  left:350px;
  top:56px;
  width:60px;
  height:60px;
  color:#666666;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:244px;
  top:14px;
  width:16px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:342px;
  top:126px;
  width:75px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:336px;
  top:156px;
  width:87px;
  height:16px;
  font-size:9px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:240px;
  top:182px;
  width:280px;
  height:10px;
  color:#999999;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:244px;
  top:202px;
  width:206px;
  height:16px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:266px;
  top:229px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:347px;
  top:229px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:467px;
  top:229px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:266px;
  top:254px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:347px;
  top:254px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:467px;
  top:254px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:244px;
  top:228px;
  width:15px;
  height:15px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:244px;
  top:253px;
  width:15px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u32 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:266px;
  top:279px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:347px;
  top:279px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:467px;
  top:279px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:244px;
  top:278px;
  width:15px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u40 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:266px;
  top:304px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:347px;
  top:304px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:467px;
  top:304px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:244px;
  top:303px;
  width:15px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:266px;
  top:326px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:347px;
  top:326px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:467px;
  top:326px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u54 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:244px;
  top:325px;
  width:15px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:266px;
  top:351px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:347px;
  top:351px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:467px;
  top:351px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:244px;
  top:350px;
  width:15px;
  height:15px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u64 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:266px;
  top:377px;
  width:71px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:347px;
  top:377px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:467px;
  top:377px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
}
#u70 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:244px;
  top:376px;
  width:15px;
  height:15px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u72 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:397px;
  top:82px;
  width:153px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:136px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:153px;
  height:1px;
}
#u74 {
  position:absolute;
  left:560px;
  top:76px;
  width:53px;
  height:16px;
  color:#999999;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:178px;
  top:228px;
  width:64px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:47px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  height:1px;
}
#u77 {
  position:absolute;
  left:146px;
  top:225px;
  width:27px;
  height:16px;
  color:#999999;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:623px;
  top:257px;
  width:137px;
  height:32px;
  color:#FF0000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:68px;
  top:554px;
  width:713px;
  height:452px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:246px;
  top:0px;
  width:185px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:431px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:571px;
  top:0px;
  width:138px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:139px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u93 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:123px;
  top:30px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u95 {
  position:absolute;
  left:2px;
  top:47px;
  width:119px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:246px;
  top:30px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u97 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:431px;
  top:30px;
  width:140px;
  height:139px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:139px;
}
#u99 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:571px;
  top:30px;
  width:138px;
  height:139px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:139px;
}
#u101 {
  position:absolute;
  left:2px;
  top:46px;
  width:134px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:169px;
  width:123px;
  height:139px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u103 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:123px;
  top:169px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u105 {
  position:absolute;
  left:2px;
  top:32px;
  width:119px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:246px;
  top:169px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u107 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:431px;
  top:169px;
  width:140px;
  height:139px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:139px;
}
#u109 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:571px;
  top:169px;
  width:138px;
  height:139px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:139px;
}
#u111 {
  position:absolute;
  left:2px;
  top:62px;
  width:134px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:308px;
  width:123px;
  height:139px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u113 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:123px;
  top:308px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u115 {
  position:absolute;
  left:2px;
  top:40px;
  width:119px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:246px;
  top:308px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u117 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:431px;
  top:308px;
  width:140px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:139px;
}
#u119 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:571px;
  top:308px;
  width:138px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:139px;
}
#u121 {
  position:absolute;
  left:2px;
  top:62px;
  width:134px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:560px;
  top:126px;
  width:75px;
  height:20px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:178px;
  top:268px;
  width:435px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:418px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:435px;
  height:1px;
}
#u125 {
  position:absolute;
  left:360px;
  top:391px;
  width:10px;
  height:59px;
}
#u125_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u125_end {
  position:absolute;
  left:-5px;
  top:42px;
  width:20px;
  height:18px;
}
#u125_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:59px;
}
#u126 {
  position:absolute;
  left:306px;
  top:460px;
  width:118px;
  height:15px;
  font-size:12px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:498px;
  top:380px;
  width:72px;
  height:10px;
}
#u128_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_end {
  position:absolute;
  left:55px;
  top:-5px;
  width:18px;
  height:20px;
}
#u128_line {
  position:absolute;
  left:0px;
  top:5px;
  width:72px;
  height:1px;
}
#u129 {
  position:absolute;
  left:580px;
  top:376px;
  width:118px;
  height:15px;
  font-size:12px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:475px;
  top:390px;
  width:10px;
  height:30px;
}
#u131_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u131_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u131_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
#u132 {
  position:absolute;
  left:428px;
  top:420px;
  width:118px;
  height:15px;
  font-size:12px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:142px;
  top:204px;
  width:170px;
  height:10px;
}
#u134_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u134_line {
  position:absolute;
  left:0px;
  top:5px;
  width:170px;
  height:1px;
}
#u135 {
  position:absolute;
  left:16px;
  top:201px;
  width:125px;
  height:16px;
  color:#999999;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:412px;
  top:204px;
  width:153px;
  height:10px;
}
#u137_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_end {
  position:absolute;
  left:136px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_line {
  position:absolute;
  left:0px;
  top:5px;
  width:153px;
  height:1px;
}
#u138 {
  position:absolute;
  left:575px;
  top:198px;
  width:178px;
  height:16px;
  color:#999999;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
