body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5818 {
  position:absolute;
  left:240px;
  top:14px;
  width:280px;
  height:520px;
}
#u5819 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5820 {
  position:absolute;
  left:370px;
  top:16px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u5821 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u5822 {
  position:absolute;
  left:240px;
  top:35px;
  width:280px;
  height:1px;
}
#u5823 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5824 {
  position:absolute;
  left:350px;
  top:56px;
  width:60px;
  height:60px;
  color:#666666;
}
#u5825 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5826 {
  position:absolute;
  left:244px;
  top:14px;
  width:16px;
  height:16px;
}
#u5827 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5828 {
  position:absolute;
  left:342px;
  top:126px;
  width:75px;
  height:20px;
}
#u5829 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u5830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#999999;
}
#u5830 {
  position:absolute;
  left:336px;
  top:156px;
  width:87px;
  height:16px;
  font-size:9px;
  color:#999999;
}
#u5831 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u5832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:10px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.0666666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5832 {
  position:absolute;
  left:240px;
  top:182px;
  width:280px;
  height:10px;
  color:#999999;
}
#u5833 {
  position:absolute;
  left:2px;
  top:-3px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5834 {
  position:absolute;
  left:244px;
  top:202px;
  width:206px;
  height:16px;
  color:#666666;
}
#u5835 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u5836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5836 {
  position:absolute;
  left:266px;
  top:229px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5837 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2.25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5838 {
  position:absolute;
  left:467px;
  top:229px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u5839 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u5840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5840 {
  position:absolute;
  left:266px;
  top:254px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5841 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2.25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5842 {
  position:absolute;
  left:467px;
  top:254px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u5843 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u5844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5844 {
  position:absolute;
  left:244px;
  top:228px;
  width:15px;
  height:15px;
}
#u5845 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5846 {
  position:absolute;
  left:244px;
  top:253px;
  width:15px;
  height:15px;
}
#u5847 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5848 {
  position:absolute;
  left:266px;
  top:279px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5849 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2.25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5850 {
  position:absolute;
  left:467px;
  top:279px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u5851 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u5852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5852 {
  position:absolute;
  left:244px;
  top:278px;
  width:15px;
  height:15px;
}
#u5853 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5854 {
  position:absolute;
  left:266px;
  top:304px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5855 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2.25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5856 {
  position:absolute;
  left:467px;
  top:304px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u5857 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u5858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5858 {
  position:absolute;
  left:244px;
  top:303px;
  width:15px;
  height:15px;
}
#u5859 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5860 {
  position:absolute;
  left:266px;
  top:328px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5861 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u5862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2.25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5862 {
  position:absolute;
  left:467px;
  top:328px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u5863 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u5864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5864 {
  position:absolute;
  left:244px;
  top:327px;
  width:15px;
  height:15px;
}
#u5865 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5866 {
  position:absolute;
  left:266px;
  top:354px;
  width:71px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u5867 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u5868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2.25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5868 {
  position:absolute;
  left:467px;
  top:354px;
  width:40px;
  height:15px;
  font-size:11px;
}
#u5869 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u5870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5870 {
  position:absolute;
  left:244px;
  top:353px;
  width:15px;
  height:15px;
}
#u5871 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5872_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:74px;
  height:19px;
}
#u5872p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:66px;
  height:4px;
}
#u5872p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:68px;
  height:6px;
}
#u5872p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5872p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u5872.compound {
  width:0px;
  height:0px;
}
#u5872 {
  position:absolute;
  left:178px;
  top:233px;
  width:64px;
  height:1px;
}
#u5873 {
  position:absolute;
  left:2px;
  top:-8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5874 {
  position:absolute;
  left:146px;
  top:225px;
  width:27px;
  height:16px;
  color:#999999;
}
#u5875 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5876 {
  position:absolute;
  left:623px;
  top:257px;
  width:137px;
  height:32px;
  color:#FF0000;
}
#u5877 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u5878 {
  position:absolute;
  left:68px;
  top:554px;
  width:713px;
  height:452px;
}
#u5879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u5879 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5880 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u5881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u5881 {
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5882 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u5883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u5883 {
  position:absolute;
  left:246px;
  top:0px;
  width:185px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5884 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u5885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u5885 {
  position:absolute;
  left:431px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5886 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u5887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u5887 {
  position:absolute;
  left:571px;
  top:0px;
  width:138px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5888 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u5889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5889 {
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:139px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5890 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u5891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5891 {
  position:absolute;
  left:123px;
  top:30px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u5892 {
  position:absolute;
  left:2px;
  top:47px;
  width:119px;
  word-wrap:break-word;
}
#u5893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u5893 {
  position:absolute;
  left:246px;
  top:30px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u5894 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u5895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:139px;
}
#u5895 {
  position:absolute;
  left:431px;
  top:30px;
  width:140px;
  height:139px;
  text-align:center;
}
#u5896 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
#u5897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:139px;
}
#u5897 {
  position:absolute;
  left:571px;
  top:30px;
  width:138px;
  height:139px;
  text-align:center;
}
#u5898 {
  position:absolute;
  left:2px;
  top:46px;
  width:134px;
  word-wrap:break-word;
}
#u5899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5899 {
  position:absolute;
  left:0px;
  top:169px;
  width:123px;
  height:139px;
  text-align:center;
}
#u5900 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u5901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5901 {
  position:absolute;
  left:123px;
  top:169px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u5902 {
  position:absolute;
  left:2px;
  top:32px;
  width:119px;
  word-wrap:break-word;
}
#u5903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u5903 {
  position:absolute;
  left:246px;
  top:169px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u5904 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u5905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:139px;
}
#u5905 {
  position:absolute;
  left:431px;
  top:169px;
  width:140px;
  height:139px;
  text-align:center;
}
#u5906 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u5907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:139px;
}
#u5907 {
  position:absolute;
  left:571px;
  top:169px;
  width:138px;
  height:139px;
  text-align:center;
}
#u5908 {
  position:absolute;
  left:2px;
  top:62px;
  width:134px;
  word-wrap:break-word;
}
#u5909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5909 {
  position:absolute;
  left:0px;
  top:308px;
  width:123px;
  height:139px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5910 {
  position:absolute;
  left:2px;
  top:62px;
  width:119px;
  word-wrap:break-word;
}
#u5911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:139px;
}
#u5911 {
  position:absolute;
  left:123px;
  top:308px;
  width:123px;
  height:139px;
  font-size:12px;
  text-align:center;
}
#u5912 {
  position:absolute;
  left:2px;
  top:40px;
  width:119px;
  word-wrap:break-word;
}
#u5913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:139px;
}
#u5913 {
  position:absolute;
  left:246px;
  top:308px;
  width:185px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u5914 {
  position:absolute;
  left:2px;
  top:62px;
  width:181px;
  word-wrap:break-word;
}
#u5915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:139px;
}
#u5915 {
  position:absolute;
  left:431px;
  top:308px;
  width:140px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u5916 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
#u5917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:139px;
}
#u5917 {
  position:absolute;
  left:571px;
  top:308px;
  width:138px;
  height:139px;
  color:#000000;
  text-align:center;
}
#u5918 {
  position:absolute;
  left:2px;
  top:62px;
  width:134px;
  word-wrap:break-word;
}
#u5919_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:379px;
  height:19px;
}
#u5919p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:372px;
  height:4px;
}
#u5919p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:374px;
  height:6px;
}
#u5919p001 {
  position:absolute;
  left:357px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5919p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u5919.compound {
  width:0px;
  height:0px;
}
#u5919 {
  position:absolute;
  left:240px;
  top:273px;
  width:370px;
  height:1px;
}
#u5920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5921_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:72px;
  height:19px;
}
#u5921p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:66px;
  height:4px;
}
#u5921p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:68px;
  height:6px;
}
#u5921p001 {
  position:absolute;
  left:50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5921p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:20px;
}
#u5921.compound {
  width:0px;
  height:0px;
}
#u5921 {
  position:absolute;
  left:507px;
  top:362px;
  width:63px;
  height:1px;
}
#u5922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5923 {
  position:absolute;
  left:580px;
  top:353px;
  width:118px;
  height:15px;
  font-size:12px;
}
#u5924 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u5925_img {
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:37px;
}
#u5925p000 {
  position:absolute;
  left:-15px;
  top:12px;
  width:32px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5925p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:34px;
  height:6px;
}
#u5925p001 {
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u5925p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5925.compound {
  width:0px;
  height:0px;
}
#u5925 {
  position:absolute;
  left:480px;
  top:369px;
  width:1px;
  height:28px;
}
#u5926 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5927 {
  position:absolute;
  left:428px;
  top:397px;
  width:118px;
  height:15px;
  font-size:12px;
}
#u5928 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u5929_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:180px;
  height:19px;
}
#u5929p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:172px;
  height:4px;
}
#u5929p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:174px;
  height:6px;
}
#u5929p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5929p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u5929.compound {
  width:0px;
  height:0px;
}
#u5929 {
  position:absolute;
  left:142px;
  top:209px;
  width:170px;
  height:1px;
}
#u5930 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5931 {
  position:absolute;
  left:16px;
  top:201px;
  width:125px;
  height:16px;
  color:#999999;
}
#u5932 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u5933_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:162px;
  height:19px;
}
#u5933p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:156px;
  height:4px;
}
#u5933p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:158px;
  height:6px;
}
#u5933p001 {
  position:absolute;
  left:139px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5933p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u5933.compound {
  width:0px;
  height:0px;
}
#u5933 {
  position:absolute;
  left:412px;
  top:209px;
  width:153px;
  height:1px;
}
#u5934 {
  position:absolute;
  left:2px;
  top:-8px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5935 {
  position:absolute;
  left:575px;
  top:198px;
  width:178px;
  height:16px;
  color:#999999;
}
#u5936 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u5937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5937 {
  position:absolute;
  left:940px;
  top:14px;
  width:280px;
  height:520px;
}
#u5938 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5939 {
  position:absolute;
  left:944px;
  top:18px;
  width:16px;
  height:16px;
}
#u5940 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5941 {
  position:absolute;
  left:1058px;
  top:18px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u5942 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u5943 {
  position:absolute;
  left:940px;
  top:41px;
  width:280px;
  height:1px;
}
#u5944 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5945 {
  position:absolute;
  left:1040px;
  top:208px;
  width:14px;
  height:16px;
  color:#000000;
}
#u5946 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u5947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5947 {
  position:absolute;
  left:988px;
  top:218px;
  width:196px;
  height:18px;
  color:#000000;
}
#u5948 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u5949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5949 {
  position:absolute;
  left:1008px;
  top:263px;
  width:145px;
  height:21px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  word-wrap:break-word;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5951 {
  position:absolute;
  left:1034px;
  top:571px;
  width:150px;
  height:20px;
  color:#FF0000;
}
#u5952 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5953 {
  position:absolute;
  left:560px;
  top:117px;
  width:80px;
  height:38px;
}
#u5954 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5955 {
  position:absolute;
  left:574px;
  top:118px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5957 {
  position:absolute;
  left:578px;
  top:134px;
  width:35px;
  height:14px;
  font-size:11px;
}
#u5958 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u5959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5959 {
  position:absolute;
  left:668px;
  top:118px;
  width:80px;
  height:38px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5961 {
  position:absolute;
  left:682px;
  top:119px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u5962 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5963 {
  position:absolute;
  left:686px;
  top:135px;
  width:35px;
  height:14px;
  font-size:11px;
}
#u5964 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
